.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.item {
  display: flex;
  gap: 5px;
  align-items: center;

  padding: 5px 10px;

  background-color: var(--purpure400);
  border-radius: 6px;
}

.tag {
  color: var(--white);
}

.close {
  cursor: pointer;

  position: relative;

  width: 20px;
  height: 20px;

  color: var(--purpure400);

  background-color: var(--white);
  border-radius: 50%;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 15%;
    left: calc(50% - 1px);

    width: 2px;
    height: 70%;

    background: currentcolor;
    border-radius: 2px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
