.container {
  overflow-y: auto;

  height: 70vh;
  margin-top: 40px;

  color: var(--brown);

  background-color: var(--purpure100);
  border-radius: 6px;
  box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
}

.detailView {
  padding: 20px;
}

.backLink {
  display: inline-block;
  margin: 20px 20px 0;
  color: var(--purpure400);

  &:hover {
    color: var(--purpure500);
  }
}
@media (width <=800px) {
  .container {
    margin-top: 5px;
  }
}

@media (height <=600px) {
  .container {
    min-height: 100vh;
    margin-top: 5px;
  }
}
