.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure300);
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.button {
  cursor: pointer;

  width: 108px;
  padding: 10px;

  color: var(--white);

  background-color: var(--purpure400);

  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure500);
  }
}

.title {
  color: var(--brown);
}

.author {
  color: var(--gray);
}
