.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure300);
  }
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 1px;
  align-items: center;
}

.button {
  cursor: pointer;

  height: 100%;
  padding: 10px;

  color: var(--white);

  background-color: var(--purpure400);

  transition: background-color 0.3s ease 0s;

  &:hover {
    background-color: var(--purpure500);
  }
}

.buttonShow {
  width: 108px;
}

.title {
  color: var(--brown);
}

.author {
  color: var(--gray);
}

@media (width <=500px) {
  .item {
    flex-direction: column;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .button {
    width: 100%;
  }
}
